@{
    ViewData["Title"] = "Eckeub";
}
<div class="text-center text-info">
    <h1>Затраты по обследованию @ViewBag.Name</h1>
</div>
<a class="btn btn-primary btn-sm" asp-controller="Doctor" asp-action="AddInspection" asp-route-id="@ViewBag.Id">Изменить затраты</a>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Цена</td>
    </tr>
    @foreach (var ins in ViewBag.In)
    {
        @foreach (var cost in ViewBag.Cost)
        {
            @if (cost.Id == ins.CostId)
            {
                @if ((ins.Cena != 0))
                {
                    <tr>

                        <td>@cost.Name</td>

                        <td>@ins.Cena</td>
                        <td>
                            <a class="btn btn-primary btn-sm btn-block" asp-action="DeleteIC" asp-route-id="@cost.Id">Удалениe</a>
                        </td>
                    </tr>
                }
            }
        }
    }
</table>