@{
    ViewData["Title"] = "Обследования";
}
<div class="text-center text-info">
    <h1>Обследования</h1>
</div>
<hr />
<p> <strong> <a class="btn btn-success" asp-area="" asp-controller="Doctor" asp-action="AddInspection">Добавить обследование</a></strong></p>
<hr />


<p>
    <a href="/Doctor/SendReport">Отправить отчет по обследованиям в PDF</a>
</p>
<div class="form-group">
    <input type="submit" value="Получить" onclick="check()" asp-action="/Doctor/MakeReport" class="btn btn-primary" />
</div>
<hr/>
<div class="embed-responsive embed-responsive-16by9 col-8">
    <iframe class="embed-responsive-item w-100" hidden src="~/Report/ReportInspection.pdf" allowfullscreen id="frame"></iframe>
</div>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<table class="table">
    <tr>
        <td>Название</td>
        <td>Цена</td>
    </tr>
    @foreach (var doctor in ViewBag.In)
    {
        <tr>
            <td>@doctor.Name</td>
            <td>@ViewBag.Cena[doctor.Id]</td>
            @if (ViewBag.Cena[doctor.Id] != 0)
            {
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Doctor" asp-action="InspectionCost" asp-route-id="@doctor.Id">Затраты</a>
                </td>
            }
            @if (ViewBag.Cena[doctor.Id] == 0)
            {
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Doctor" asp-action="AddInspection" asp-route-id="@doctor.Id">Добавить затраты</a>
                </td>
            }
            <td>
                <a class="btn btn-primary btn-sm btn-block" asp-action="Delete" asp-route-id="@doctor.Id">Удалить</a>
            </td>

        </tr>
    }
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function check() {
        var frame = document.getElementById("frame");
        frame.hidden = false;
        frame.src = frame.src + "?unique=" + new Date().getTime();
        frame.style.height = '700px';
    }
       @if (ViewBag.CheckingReport != null)
       {
          <text> window.onload = check; </text>
       }
</script>